.App {
  text-align: center;
  min-height: 100vh;
  background-color:	#FFF0F5;
  color: 	#C71585;
}
.card {
  position: relative;
  background-color:	#FFFFFF;
  margin: 10px auto;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
}
.delete-btn {
  position: absolute;
  display: none;
  right: 15px;
  color: #C71585;
}
.card:hover .delete-btn {display:block;}
.todo-container {
  padding: 15px;
  border: 1px solid #FF69B4;
  margin: auto;
  width: 250px;
  font-size: 15px;
  border-radius: 5px;
}
.todo_list{
  margin-top: -15px;
 overflow-y: scroll;
 height: 450px;
}
.form_wrapper {
  display: flex;
  flex-direction: column;
}
.error_msg {
  color: red;
  text-align: left;
  margin: -5px auto;
}
.saveClose_btn { padding: 10px;}
.app_title {
  border-bottom: 1px solid #FF69B4;
  margin-top: -3px;
}
.todo_title{
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.todo_description {
  padding: 0;
  margin: 0;
}
