body {
  margin: 0;
  font-family: 'Indie Flower';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  margin: 5px;
  background-color:	#FFF0F5;

}
input {
  width: 220px;
  padding: 8px;
  margin: 10px auto;
  outline: none;
}
